
@{
    ViewBag.Title = "About";
    Layout = "~/Views/_LayoutPage1.cshtml";
}


@{
    ViewBag.Title = "About";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<!-- header -->
<header>
    <div class="container">
        <!-- nav -->
        <nav class="py-3 d-lg-flex">
            <div id="logo">
                <h1> <a href="index.html"><span class="fa fa-line-chart"></span> ForexHouseofnews </a></h1>
            </div>
            <label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
            <input type="checkbox" id="drop" />
            <ul class="menu ml-auto mt-1">
                <li class=""><a href="index.html">Home</a></li>
                <li class=""><a href="News.html">News</a></li>
                <li class="active"><a href="about.html">About Us</a></li>
                <li class=""><a href="blog.html">Blog</a></li>
                <li class=""><a href="contact.html">Contact</a></li>
                <li class="last-grid">
                    <a href="~/Views/Register/Index.cshtml">Sign Up</a>
                    <a href="~/Views/Register/Login.cshtml">Login</a>
                </li>
            </ul>
        </nav>
        <!-- //nav -->
    </div>
</header>
<!-- //header -->
<!-- inner-banner -->
<section class="inner-banner" id="home">
    <div class="inner-layer">
        <div class="container">
        </div>
    </div>
</section>
<!-- //inner-banner -->
<!-- breadcrumb -->
<div class="breadcrumb-w3pvt bg-light">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html">Home</a>
                </li>
                <li class="breadcrumb-item" aria-current="page">About Us</li>
            </ol>
        </nav>
    </div>
</div>
<!-- //breadcrumb -->
<!-- advantages and details -->
<section class="advantages pt-5">
    <div class="container pb-md-5">
        <div class="row advantages_grids">
            <div class="col-lg-6">
                <img src="~/images/about.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-lg-6 mt-lg-0 mt-4">
                <h3 class="mt-sm-3">HouseOfNews (News Agency).</h3>
                <p class="my-sm-4 mt-2 mb-4">
                    HouseOfNews website is news websites founded by six students from Cape Peninsula University of Technology with the idea of supplying virious news to our subscribers, covering various topics:
                    Forex news, current trends about forex exchange across the country. We also cover forex news that will affect the market as a whole and some will affect certain currencies specifically.
                    Our Job as a forex news traders is to figure out what news is important to the currency pair we are trading. Employment reports, interest rate decisions, and GDP numbers which we consider
                    those areas as important news for a country currency. These newsprints are important because they can bleed into the decision making
                    process of the Federal Reserve.We will prepare for a live news trade, which we believe that its always crucial to managing your risk, though. Building a Forex Trading Strategy to Leverage Rumours.
                    The In and Outs of Forex Trading. Finding the Best Forex broker for you, etc. How we approach our work, actiually we many diffrent authors and journalists,
                    and many content writers also writes and add value to our website.
                </p>
            </div>
        </div>
    </div>




</section>


<!-- //advantages and details -->
<!-- testimonials -->
<section class="clients">
    <div class="layer py-lg-5 py-lg-4">
        <div class="container py-5">
            <h2 class="heading mb-md-5 mb-4"><strong> Best Forex Mentors from our Top 10 list </strong></h2>
            <div class="row">
                <div class="col-lg-4 col-md-6 pl-sm-0 mb-4">
                    <div class="col- client-grid">
                        <div class="c-left">
                            <img src="~/images/company logo 1.jpg" alt="image" class="img-fluid" />
                            <div class="info">
                                <!--<h6>TheForexTradingCoach</h6>-->
                                <!--<p>- Best Forex Mentor</p>-->
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <p class="mt-2">His  strategy can be traded on all currency pairs and on all time frame charts. They look for a new trade on the close of a candle, very little chart time is needed. You can easily trade in 10-20 minutes a day!</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 pl-sm-0 mb-4">
                    <div class="col- client-grid">
                        <div class="c-left">
                            <img src="~/images/company logo 2.jpg" alt="image" class="img-fluid" />
                            <div class="info">
                                <!--- <h6>Babypips Forum</h6>-->

                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <br />
                        <p class="mt-2">During the market research we evaluated several aspects like fx mentor reputation, years of experience, last but not the least the overall satisfaction of people with the mentorship program (taken from independent ratings on the web).</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 pl-sm-0 mb-4">
                    <div class="col- client-grid">
                        <div class="c-left">
                            <img src="~/images/company logo 3.jpg" alt="image" class="img-fluid" />
                            <div class="info">

                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <p class="mt-2">Traders Academy Club is an Online Centre designed by Vladimir Ribakov.Being a member of this club, you will be given the right education necessary to take your trading to a higher level and improve your trading career.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- //testimonials -->
<!-- directors -->
<section class="team pt-5">
    <div class="container py-md-5 py-3">
        <h3 class="heading mb-md-5 mb-4">Our <strong> Team Professionals</strong></h3>
        <div class="row">
            <div class="col-lg-4">
                <div class="blog-info">
                    <h4 class="heading mt-lg-2">Brilliant minds behind the scene. The founders of HouseOfNews company</h4>
                    <p class="mt-sm-3 mt-2">
                        Chuma is a Founding Partner at HouseOfNews. He assumes the roles of Project Lead, Web Designer and Computer programmer,
                        amoung any other things and passionate about the Web development.

                    </p>
                </div>
            </div>
            <div class="col-lg-8 text-center mt-lg-0 mt-4">
                <div class="row">
                    <div class="col-md-4 col-6 item">
                        <div class="clients-color">
                            <div class="w3-w3pvt-team-img">
                                <img src="~/images/team1.jpg" class="" alt="">
                            </div>
                            <div class="team-txt-info pt-3">
                                <h4>Chuma Nxazonke</h4>
                                <p class="mb-3">Web developer.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-6 item">
                        <div class="clients-color">
                            <div class="w3-w3pvt-team-img">
                                <img src="~/images/team2.jpeg" class="" alt="">
                            </div>
                            <div class="team-txt-info pt-3">
                                <h4>Armand Nzinza</h4>
                                <p class="mb-3">Web developer.</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-6 item">
                        <div class="clients-color">
                            <div class="w3-w3pvt-team-img">
                                <img src="~/images/team3.jpeg" class="" alt="">
                            </div>
                            <div class="team-txt-info pt-3">
                                <h4>mohammed Parker</h4>
                                <p class="mb-3">Web developer.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-6 item">
                        <div class="clients-color">
                            <div class="w3-w3pvt-team-img">
                                <img src="~/images/team4.jpeg" class="" alt="">
                            </div>
                            <div class="team-txt-info pt-3">
                                <h4>Dieuci Nsibu</h4>
                                <p class="mb-3">Web developer.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-6 item">
                        <div class="clients-color">
                            <div class="w3-w3pvt-team-img">
                                <img src="~/images/team5.jpg" class="" alt="">
                            </div>
                            <div class="team-txt-info pt-3">
                                <h4>Chuma Nxazonke</h4>
                                <p class="mb-3">Computer programmer.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-6 item">
                        <div class="clients-color">
                            <div class="w3-w3pvt-team-img">
                                <img src="~/images/team6.jpg" class="" alt="">
                            </div>
                            <div class="team-txt-info pt-3">
                                <h4>Chuma Nxazonke</h4>
                                <p class="mb-3">Web developer.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //directors -->
<!-- subscribe -->
<div class="subscribe py-5">
    <div class="container py-sm-4">
        <h3 class="heading mb-md-5 mb-4">subscribe <strong> newsletter</strong></h3>
        <div class="row">
            <div class="col-md-6 w3-w3pvt-subscribe">
                <form action="#" method="post">
                    <input type="email" name="email" placeholder="Enter your email here" required="">
                    <button class="btn1"><span class="fa fa-paper-plane" aria-hidden="true"></span></button>
                </form>
                <p>We'll never share your email with anyone else.</p>
            </div>
            <div class="col-md-6 mt-md-0 mt-4">
                <h4>Sign up for our Newsletter, and get the latest marketing and technology related news and updates.</h4>
            </div>
        </div>
    </div>
</div>

<!-- footer-top -->
<section class="footer-top py-sm-5 py-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <h3 class="my-sm-3 mt-3 mb-1"><span class="fa mr-2 fa-mobile"></span> Mobile App</h3>
                <p class="mb-sm-4 mb-2">We currently don't have a mobile app but it will be available soon.</p>
            </div>
            <div class="col-lg-3 col-sm-6">
                <h3 class="my-sm-3 mt-3 mb-1"><span class="fa mr-2 fa-shield"></span> Security Tips</h3>
                <p class="mb-sm-4 mb-2">
                    Here are the security tips when using the website.Start with password management tools, meaning
                    make sure you have a different password for every account so that an evil-minded attacker can't access all your accounts when one of them gets compromised.
                    Another tip is that, look out for Phishing Scams.
                </p>
            </div>
            <div class="col-lg-3 col-sm-6">
                <h3 class="my-sm-3 mt-3 mb-1"><span class="fa mr-2 fa-globe"></span> Various Branches</h3>
                <p class="mb-sm-4 mb-2">
                    We only have one branch for now.It's located in Cape Town (CBD) near by police station.
                    You will find the address on our website.
                </p>
            </div>
            <div class="col-lg-3 col-sm-6">
                <h3 class="my-sm-3 mt-3 mb-1"><span class="fa mr-2 fa-phone"></span> 24/7 Support</h3>
                <p class="mb-sm-4 mb-2">We have a live chat support.</p>
            </div>
        </div>
    </div>
</section>
<!-- //footer-top -->
<!-- footer -->
<footer class="footer py-md-5 pt-4 pb-5">
    <div class="container pt-4">
        <div class="row">
            <div class="col-lg-3 col-sm-6 footer-top">
                <h4 class="mb-sm-4 mb-3 w3f_title">Contact Info</h4>
                <ul class="list-w3">
                    <li><span class="fa mr-1 fa-map-marker"></span>22 Barrack Street, City of Cape Town, 8001  SA</li>
                    <li class="my-2"><span class="fa mr-1 fa-phone"></span>+27 84 762 2511</li>
                    <li class="my-2"><span class="fa mr-1 fa-phone"></span>+27 62 181 9854</li>
                    <li class="my-2"><span class="fa mr-1 fa-phone"></span>+27 83 786 4913</li>
                    <li class=""><span class="fa mr-1 fa-envelope"></span><a href="mailto:chumaedward1569@gmail.com">chumaedward1569@gmail.com</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-6 footv3-left mt-sm-0 mt-4">
                <h4 class="mb-sm-4 mb-3 w3f_title"> Best Forex Platforms</h4>
                <ul class="list-w3">
                    <li class="my-2">
                        <a href="https://www.home.saxo/en-gb/accounts/vip">
                            Saxo Bank - Best VIP client experience.
                        </a>
                    </li>
                    <li class="mb-2">
                        <a href="https://www.cmcmarkets.com/en-sg/platform">
                            CMC Markets - Best web platform and platform technology
                        </a>
                    </li>
                    <li class="my-2">
                        <a href="https://www.interactivebrokers.co.uk/en/index.php?f=39433">
                            Great for professionals and institutions .
                        </a>
                    </li>
                    <li class="my-2">
                        <a href="https://www.tdameritrade.com/tools-and-platforms.html">
                            TD Ameritrade FX - Best desktop platform (US only)
                        </a>
                    </li>
                    <li>
                        <a href="https://www.fxcm.com/za/platforms/">
                            FXCM - Well-rounded platform offering.
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 col-sm-4 mt-lg-0 mt-sm-5 mt-4">
                <h4 class="mb-sm-4 mb-3 w3f_title">Media Center</h4>
                <ul class="list-w3">
                    <li class="my-2">
                        <a href="https://www.fxcm.com/markets/press-releases/">
                            Press Release
                        </a>
                    </li>
                    <li class="mb-2">
                        <a href="features.html">
                            Vision & Values
                        </a>
                    </li>
                    <li class="my-2">
                        <a href="https://www.hotforex.co.za/za/en/about-us/awards.html">
                            Award-winning Forex Trading Services
                        </a>
                    </li>
                    <li class="my-2">
                        <a href="https://www.facebook.com/Forex-Trading-and-Network-Marketing-BE-South-Africa-111340064022025/">
                            Forex Trading and Network Marketing
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-2 col-sm-4 mt-lg-0 mt-sm-5 mt-4">
                <h4 class="mb-sm-4 mb-3 w3f_title">Resources</h4>
                <ul class="list-w3">
                    <li class="my-2">
                        <a href="#">
                            24/7 Help Line
                        </a>
                    </li>
                    <li class="mb-2">
                        <a href="https://www.ctfx.co.za/">
                            Nearest Branch
                        </a>
                    </li>
                    <li class="my-2">
                        <a href="#">
                            Guidance
                        </a>
                    </li>
                    <li class="my-2">
                        <a href="#">
                            Download
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Mobile App
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-2 col-sm-4 mt-lg-0 mt-sm-5 mt-4">
                <h4 class="mb-4 w3f_title">Other Links</h4>
                <ul class="list-w3">
                    <li class="my-2">
                        <a href="services.html">
                            News
                        </a>
                    </li>
                    <li class="mb-2">
                        <a href="about.html">
                            About Us
                        </a>
                    </li>
                    <li class="my-2">
                        <a href="blog.html">
                            Company Blog
                        </a>
                    </li>
                    <li class="my-2">
                        <a href="contact.html">
                            Contact Us
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <!-- //footer bottom -->
</footer>
<!-- //footer -->
<!-- copyright -->
<section class="copy-right py-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <p class="">
                    © 2021 ForexHouseofnews. All rights reserved | Design by Forex House of news group

                </p>
            </div>
            <div class="col-lg-5">
                <ul class="list-w3 d-sm-flex">
                    <li>
                        <a href="#">
                            Privacy Policy
                        </a>
                    </li>
                    <li class="mx-4">
                        <a href="#">
                            Terms & Conditions
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Disclaimer.
                        </a>
                    </li>
                    <li>
                        <a href="#">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- //copyright -->
<!-- move top -->
<div class="move-top text-right">
    <a href="#home" class="move-top">
        <span class="fa fa-angle-up  mb-3" aria-hidden="true"></span>
    </a>
</div>
<!-- move top -->
<script>
    addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    }



</script>



